{% extends 'layout.twig' %}
{% block body %}
<title>管理中心</title>
<style>
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-title {
        font-size: 1.25rem;
    }

    .card-subtitle {
        font-size: 1.25rem;
    }
    .btn-lg {
        padding: 1rem 2rem;
        font-size: 1.25rem;
    }
    .card {
        width: 75%; /* Adjust the width as needed */
        margin: 0 auto
    }
</style>
<br>
<a class="weatherwidget-io" href="https://forecast7.com/zh-tw/24d16120d67/taichung/" data-label_1="台中市" data-label_2="天氣" data-font="Noto Sans TC" data-icons="Climacons Animated" >台中市 天氣</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
<br><br>
<div class="row">
  <div class="col-6">
    <div class="card d-flex align-items-center">
      <div class="card-body text-center">
        <h5 class="card-title">時間</h5>
        <h6 class="card-subtitle mb-2 text-muted" id="time"></h6>
      </div>
    </div>
    <div class="card mt-3 d-flex align-items-center">
      <div class="card-body text-center">
        <h5 class="card-title">日期</h5>
        <h6 class="card-subtitle mb-2 text-muted" id="date"></h6>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="button-container">
        <p><a type="button" class="btn btn-primary btn-lg" href="/itemlist"><i class="bi bi-people"></i> 房客資料管理</a></p>
        <p><a type="button" class="btn btn-success  btn-lg" href="/visitors" style="color: white;"><i class="bi bi-person-badge"></i> 訪客資料管理</a></p>
        <p><a type="button" class="btn btn-danger btn-lg" href="/message"><i class="bi bi-tools"></i> 報修中心</a></p>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  function refreshTime() {
    // Get the current network time
    let now = new Date();
    let year = now.getFullYear();
    let month = now.getMonth() + 1;
    let date = now.getDate();
    let hour = now.getHours();
    let minutes = now.getMinutes();
    let seconds = now.getSeconds();

    // Format the time and date strings
    if (hour < 10) {
        hour = "0" + hour;
    }
    if (minutes < 10) {
        minutes = "0" + minutes;
    }
    if (seconds < 10) {
        seconds = "0" + seconds;
    }
    let formattedDate = year + "年" + month + "月" + date + "日";
    let formattedTime = hour + ":" + minutes + ":" + seconds;

    // Display the formatted time and date in the cards
    document.getElementById('date').innerHTML = formattedDate;
    document.getElementById('time').innerHTML = formattedTime;
  }

  setInterval(refreshTime, 1);
});
</script>
{% endblock %}