{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <from action="/user/login" methon="post">
    <input type="text name="username">
    <input type="password" name="password">
    <button type="submit">login</botton>
  </from>
{% endblock %}
