{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <form action="/user/login" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">login</button>
  </form>
{% endblock %}
