{% extends 'layout.twig' %}
{% block body %}
  <h1>留言板頁面</h1>
  <div>
    {% for row in rows %}
    <div class="card">
        <div class="card-header">
            {{row['create_at']}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{row['username']}}</h5>
            <p class="card-text">{{row['message']}}</p>
        </div>
    </div>
    {% endfor %}
  <div>
{% endblock %}