{% extends 'layout.twig' %}
{% block body %}
<title>報修中心</title>
<br><h1>報修中心</h1><br>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">報修</div>                
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <br>
                             <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="REPORTDATE" name="REPORTDATE" placeholder="message" disabled>
                                <label for="REPORTDATE" class="form-label" >故障時間</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="ROOM" name="ROOM" placeholder="message" required oninvalid="this.setCustomValidity('請輸入房號')" oninput="this.setCustomValidity('')">
                                <label for="ROOM" class="form-label">房號</label>
                            </div>  
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="DEVICE" name="DEVICE" placeholder="message" required oninvalid="this.setCustomValidity('請輸入故障設備')" oninput="this.setCustomValidity('')">
                                <label for="DEVICE" class="form-label">故障設備</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="PROBLEM" name="PROBLEM" placeholder="message" required oninvalid="this.setCustomValidity('請描述故障情況')" oninput="this.setCustomValidity('')">
                                <label for="PROBLEM" class="form-label">故障情況</label>
                            </div>
                            <br>
        
                            <button type="submit" id="submit-message" class="btn btn-primary">回報</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div id="message-list"></div>
        </div>
    </div>
<script src="/javascript/message.js"></script>
<script>
    function refreshTime() {
        // 取得當前網路時間
        let now = new Date();
        let year = now.getFullYear();
        let month = now.getMonth() + 1;
        let date = now.getDate();
        let hour = now.getHours();
        let minutes = now.getMinutes();
        let seconds = now.getSeconds();

        // 格式化時間字串
        if (hour < 10) {
            hour = "0" + hour;
        }
        if (minutes < 10) {
            minutes = "0" + minutes;
        }
        if (seconds < 10) {
            seconds = "0" + seconds;
        }
        let formattedDate = year + "-" + month + "-" + date + " " + hour + ":" + minutes + ":" + seconds;

        // 將格式化後的時間字串填入表單欄位
        document.getElementById("REPORTDATE").value = formattedDate;
    }

    setInterval(refreshTime, 1);
</script>
{% endblock %}