{% extends 'layout.twig' %}

{% block body %}
  <h1>留言板頁面</h1>

    <div class="card">
        <div class="card-header">
            新增留言
        </div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="message" class="form-label">留言內容</label>
                    <input type="text" class="form-control" id="message" name="message">
                </div>
                <button type="button" id="submit-message" class="btn btn-primary">送出</button>
            </form>
        </div>
    </div>


    <div id="message-list"><div>
    <script src="/javascript/message.js"></script>
{% endblock %}
