{% extends 'layout.twig' %}
{% block body %}
<h1>房客資料管理</h1>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">登記</div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <div class="form-floating mb-3"></div>
                            <br>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="quantity" name="quantity" placeholder="message" required oninvalid="this.setCustomValidity('請輸入房號')" oninput="this.setCustomValidity('')">
                                <label for="quantity" class="form-label">房號</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="itemcode" name="itemcode" placeholder="message" required oninvalid="this.setCustomValidity('請輸入名稱')" oninput="this.setCustomValidity('')">
                                <label for="itemcode" class="form-label">名稱</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="price" name="price" placeholder="message" required oninvalid="this.setCustomValidity('請輸入聯絡號碼')" oninput="this.setCustomValidity('')">
                                <label for="price" class="form-label">聯絡號碼</label>
                            </div>
                            <br>
                            <button type="submit" id="submit-itemlist" class="btn btn-primary">回報</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">房客列表</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>房號</th>
                                <th>名字</th>
                                <th>聯絡</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in rows %}
                            <tr>
                                <td>{{row['id']}}</td>
                                <td>{{row['quantity']}}</td>
                                <td>{{row['itemcode']}}</td>
                                <td>{{row['price']}}</td>
                                <td><button type="submit" id="submit-itemlist" class="btn btn-primary">刪除</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="itemlist-list"></div>
<script src="/javascript/itemlist.js"></script>

{% endblock %}